@media screen { 
	.wholePage {
		line-height: 1.0;
	}
	.pageButtons {
		display:block;
		text-align: right;
		width:100%;
		margin-right:20px;
	} 
	
   	h1, h2, h3 {
		color: black;
		text-align: center;
		font-family: "Times New Roman",Times, sans-serif,serif;
   } 
   	h1 {
		font-size: 18pt;
		break-before: avoid;
	}
	
	h2 {
		font-size: 16pt;
	}
	
	h3 {
		font-size: 14pt;
	}
	
   	table {
		width:95%;
		margin:0 auto;
	}
	
	th {
		font:size 10pt;
		background-color: navy;
		color:white;
	}
	
	/* th, td {
		border: 1px solid black; 
	} */
	td {
		font: size 8pt;
		border:1px solid blue;
		
	}
	#line1 {
		background-color:lightgray;
	}
	#line2 {
		background-color:white;
	}
	#line3 {
		background-color:white;
	}
    
} 

@media print {
	html, body {
		font-size:.85rem;
		break-before:avoid;
		break-after:avoid;
	}
	.wholePage {
		width:100%;
		margin:0 auto;
		break-before:avoid;
		break-after:avoid;
		/* break-inside: avoid; */
	}
 	
	.pageButtons {
		display:none;
	}
	body {
		height:99%;
		break-after:avoid;
		break-before:avoid;
	}
	h1 {
		font-size: 18pt;
		break-before: page;
	}
			
	h2 {
			font-size: 16pt;
			}
			
	h3 {
			font-size: 14pt;
			}
			
	h1, h2, h3, h4, h5 {
		text-align:center;
		font-weight: bold;
		break-after: avoid;
	}


	table {
		width:100%;
	}

	table thead th { border-bottom: 1px solid #000; }

	th {
		background-color: white;
		color: black;
	}

	
	#line1 {
		background-color:lightgray;
	}
	#line2 {
		background-color:white;
	}
	#line3 {
		background-color:white;
	}
}

@page {
	size: landscape;
	orientation: landscape;
	display:block;
	position:relative;
	margin:1cm;
	/* break-before: avoid;
	break-after: avoid;
	break-inside: avoid; */
} 
