{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rptSubList.css') }}">
{% endblock %}

{% block content %} 
<div class='wholePage'>
    <div class="hdg">
        <div class='pageButtons'>
            <button id="printPageButton" class='btn btn-primary btn-sm' onClick="window.print();">PRINT</button>
            <button id="closePageButton" class='btn btn-secondary btn-sm' onclick="window.history.back()" >CLOSE</button>
        </div>
        <br><br>
        <div class='title' text-align:center>
            <h1>THE VILLAGES WOODWORKERS CLUB</h1>
        </div>

        <div class='subTitles' text-align:center>
            <h3>MONITOR SUB LIST</h3>
            <h3>{{shopName}}</h3>
            <h3>As of {{todaysDate}}</h3>
        </div>   
    </div>  
    <br>
    <table>
        <thead>
            <th style=width:10em>Name/ID</th>
            <th style=width:8em>Cell/Home</th>
            <th style=width:12em>E-Mail</th>
            <th style=width:17em>Shifts</th>
            <th style=width:23em>Months</th>
        </thead>
        {% for subItem in subDict %} 
            <tr id=line1>
                <td>{{subItem['name']}}</td>
                <td>{{subItem['cellPhone']}}</td>
                <td>{{subItem['eMail']}}</td>
                <td>Future slots: {{subItem['futureShifts']}}
                    &nbsp&nbsp&nbsp&nbspCompleted slots: {{subItem['completedShifts']}}</td>
                <td style=padding-top:1em><pre>{{subItem['monthsStr']}}</pre></td>
            </tr>
            <tr id=line2>
                <td>{{subItem['memberID']}}</td>
                <td>{{subItem['homePhone']}}</td>
                <td>Certified (RA):&nbsp {% if subItem['certifiedRA'] == True %}&#10004;{% else %}&nbsp;{% endif %}
                    &nbsp&nbsp&nbspDate:&nbsp{{subItem['certifiedDateRA']}}</td>
                <td style=color:red>{{subItem['trainingNeeded']}}</td>
                <td>&nbsp</td>
            </tr>
            <tr id=line3>
                <td colspan="2" style=color:red >{{subItem['restricted']}}&nbsp&nbsp{{subItem['reasonRestricted']}}</td>
                <td style=color:red >{{subItem['toolCribRequested']}}</td>
                <td colspan="2" style="text-align:left;color:green">{{subItem['monitorDutyNotes']}}</td>
            </tr>               
        {% endfor %}
    </table> 
      
</div>
{% endblock %}
